<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>

    <% if (kindOfDay === 0 || kindOfDay === 6){ %>
      <h1 style="color: purple"><%= kindOfDay %> ToDo List </h1>
    <% } else { %>
      <h1 style="color: blue"><%= kindOfDay %> ToDo List </h1>
    <% } %>


    <script src="" async defer></script>
  </body>
</html>
